@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .challemge-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin: 10px;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 1.1em;
    line-height: 24px;
    background-color: rgb(212, 212, 212);
  }

  .challemge-item:hover {
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, #4535aa, #ed639e);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.25);
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  }
}

.nav-bar {
    @apply flex flex-col items-center justify-evenly mb-4;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.lower-nav-bar {
    box-shadow: 0 4px 10px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
}

